{% extends 'base-portal.html' %}

{% block conteudo_portal %}


<h1>Atividades</h1>

{% if not atividades %}
<p><i>Nenhuma atividade encontrada.</i></p>
{% else %}

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <th>Atividade</th>
      <th>Data de entrega</th>
    </thead>
    {% for atividade in atividades %}
    <tr>
      <td><a href="{% url 'detalhes_atividade' pk=atividade.pk %}">{{ atividade.titulo }}</a></td>
      <td>{{ atividade.data_entrega }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endif %}


{% endblock %}