{% extends 'base-portal.html' %}

{% block conteudo_portal %}

<h1>{{ atividade.titulo }}</h1>
<p>Descrição: {{ atividade.descricao }}</p>
<p>Data de entrega: {{ atividade.data_entrega }}</p>

<!--
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <th>Atividade</th>
      <th>Data de entrega</th>
    </thead>
    {% for atividade in atividades %}
    <tr>
      <td><a href="{% url 'detalhes_atividade' pk=atividade.pk %}">{{ atividade.titulo }}</a></td>
      <td>{{ atividade.data_entrega }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
-->
<hr>
<h3>Comentários</h3>
{% for comentario in comentarios %}
<p>{{ comentario.autor }}</p>
<p>{{ comentario.comentario }}</p>
<hr>
{% empty %}
<p><i>Nenhum comentário.</i></p>
{% endfor %}

<hr>

<h3>Enviar comentário</h3>


<form method="post">
  {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field }}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>


{% endblock %}