{% extends 'base_portal.html' %}

{% load has_group %}

{% block title %}Empresas{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url 'empresa' %}">Empresas</a>
</li>
<li class="breadcrumb-item active">
  {{ empresa.nome }}
</li>
{% endblock %}

{% block conteudo_portal %}

<h1>Minha empresa: {{ empresa.nome }}</h1>

<p>Descrição: {{ empresa.descricao }}</p>

<h3>Membros</h3>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <th>Nome</th>
      <th>E-mail</th>
    </thead>
    {% for aluno in empresa.alunos.all %}
    <tr>
      <td>{{ aluno.get_full_name }}</td>
      <td>{{ aluno.email }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}